.container-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    display: flex;
    justify-items: center;
    gap: 10px;
}

.titulo span, .titulo h1 {
    font-size: 2rem;
}

.btn-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    color: #7692ff;
    background: none;
    border: 2px solid #7692ff;
    border-radius: 20px;
    padding: 18px 36px;
    display: inline-block;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #7692ff;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.btn ion-icon {
    font-size: 1rem;
}

.btn-animation:hover {
    box-shadow: inset 0 0 0 50px #7692ff;
    color: #fff;
}

.container-grupos {
    display: flex;
    width: 100%;
    margin-top: 30px;
    flex-direction: column;
}

.table-head {
    display: grid;
    width: 100%;
    background: #F5F6FA;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    height: 70px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table-head h3 {
    font-size: 1rem;
    font-weight: 500;
}

.table-head form {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: none;
    border: 2px solid #7692ff;
    color: #7692ff;
    height: 30px;
    padding: 15px;
    border-radius: 20px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    cursor: pointer;
}

.table-head form input  {
    border: none;
    background: none;
    width: 100%;
    outline: none;
    margin-left: 10px;
    font-size: 1rem;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    color: #7692ff;
}

.table-head form input::placeholder {
    color: #7692ff;
}

.table-head form ion-icon {
    font-size: 1.2rem;
}

.table-head form:hover, .table-head form input:hover, .table-head form input:hover::placeholder {
    box-shadow: inset 0 0 0 50px #7692ff;
    color: #fff;
}

.table-body {
    display: grid;
    width: 100%;
    background: #fff;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 125px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-end {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.container-edit {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.btn-remove-edit {
    background: none;
    border: none;
    cursor: pointer;
}

.btn-remove-edit ion-icon {
    font-size: 2.2rem;
}

.btn-remove-edit ion-icon:hover {
    font-size: 2.3rem;
}

.container-datas {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
}

.container-datas p {
    font-size: .8rem;
    text-align: center;
}

/* Janela Modal */
.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    position: relative;
}

.header-modal {
    color: #000;
    background: none;
    font-size: 1rem;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.header-modal button {
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
    font-size: 2.8rem;
    color: #ff0000ff;
    background: none;
    border: none;
}

.modal-add-membro form {
    margin-top: 20px;
}

.modal-add-membro form label {
    display: block;
    color: #000;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.modal-add-membro form input, .modal-add-membro form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #000;
    background: none;
}

.modal-add-membro form input:focus, .modal-add-membro form select:focus {
    outline: none;
    border-bottom: 3px solid #7692ff;
}

.modal-add-membro form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.modal-add-membro form input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
 
 }

.modal-add-membro form input[type="submit"] {
    background-color: #1b2cc1;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 900;
}

.modal-add-membro form input[type="submit"]:hover {
    background-color: #7692ff;
    cursor: pointer;
}

/* modal deletar Grupo Economico */
.header-modal-remover {
    justify-content: center;
}

.container-1-modal-remover {
    margin-bottom: 25px;
    color: #000;
    font-size: 1.2rem;
    text-align: center;
}

.container-2-modal-remover {
    display: flex;
    justify-content: space-evenly;
}

.container-2-modal-remover button {
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    color: #fefefe;
}

.container-2-modal-remover .btn-1 {
    background-color: #a50d0d;
}

.container-2-modal-remover .btn-2 {
    background-color: #2b4c7e;
}

.container-2-modal-remover .btn-1:hover {
    background-color: #830707;
}

.container-2-modal-remover .btn-2:hover {
    background-color: #16325e;
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    #body {
        overflow: hidden;
    }

    main {
        overflow: auto;
    }

    .table-head h3 {
        font-size: .8rem;
    }

    .table-head form input {
        font-size: .8rem;
    }

    .table-body {
        height: 70px;
    }

    .table-body p {
        font-size: .7rem;
    }

    .container-edit ion-icon {
        font-size: 1.5rem;
    }

    .container-edit ion-icon:hover {
        font-size: 1.7rem;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #body{
        overflow: hidden;
    }

    main {
        width: 100vw;
    }

    .table-head h3 {
        font-size: .8rem;
    }

    .table-head form input {
        font-size: .8rem;
    }

    .table-body p {
        font-size: .9rem;
    }

    .container-edit ion-icon {
        font-size: 1.6rem;
    }

    .container-edit ion-icon:hover {
        font-size: 1.8rem;
    }


}

@media only screen and (max-width: 767px) {
    main {
        width: 100vw;
    }

    .titulo h1 {
        font-size: 1rem;
    }

    .titulo span {
        font-size: 1.5rem;
    }

    .btn-header button {
        padding: 6px 22px;
    }

    .table-head h3 {
        font-size: .5rem;
    }

    .table-head form {
        display: none;
    }

    .table-body {
        height: 65px;
        font-size: .5rem;
    }

    .btn-remove-edit ion-icon {
        font-size: 1.2rem;
    }

    .btn-remove-edit ion-icon:hover {
        font-size: 1.3rem;
    }
}